<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shreyas Designs</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
      </head>
  <style>
   @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;900&display=swap');
    #head{
        font-family: 'Orbitron';
    }
    * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  * ::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
  }
  </style>
  <body class="bg-black">
        <div class="">
            <div class=" fixed h-2/6 w-full align-center justify-center flex  xl:pt-2 pt-2" id="head">
                <img src="/logo.png" alt="" class=" h-16 w-16 flex justify-center ">
                <h1 class="text-white text-2xl xl:pt-3 pt-3 font-Obitron underline underline-offset-4"><span class="font-semibold text-red-500">Shreyas </span>Designs</h1>
            </div>
            <div class="h-4/6 w-screen mt-2">
                <div class=" align-center justify-center flex">
                    <img src="/11.png" alt="" class="fixed z-2 xl:h-[48rem] xl:mt-2 md:h-[40rem]  mt-8 align-center justify-center flex">
                </div>
                </div>
                <div class="align-center justify-center flex  ">
                    <h1 class="xl:text-[8rem] md:text-[8.5rem]  xl:mt-24 text-gray-600 text-center  leading-none text-6xl mt-28" id="head">GRAPHIC<span class="xl:text-[9rem] text-red-700 text-bold"><br>DESIGNER</span></h1>
                </div>
                <div class="xl:flex  justify-center align-center flex isolate w-full mb-2 absolute bottom-2  xl:mt-8 md:flex hidden">
                 <ol class=" text-white isolate flex space-x-8 justify-bottom text-xl cursor-pointer ">
                    <li><a class="hover:text-red-700  transition easy-in-out ">Home</a></li>
                    <li><a class="hover:text-red-700  transition easy-in-out ">Projects</a></li>
                    <li><a class="hover:text-red-700  transition easy-in-out ">Designs</a></li>
                    <li><a class="hover:text-red-700  transition easy-in-out ">Animations</a></li>
                    <li><a class="hover:text-red-700  transition easy-in-out  p-1 pl-4 pr-4 bg-red-700 text-white hover:bg-white rounded-3xl font-bold ">Work With ME</a></li>
                    <li><a class="hover:text-red-700  border-2 transition easy-in-out  p-1 pl-4 pr-4  text-white rounded-3xl font-bold ">Work For ME</a></li>
                 </ol>
        </div>
        <div class="hamberger cursor-pointer isolate md:hidden xl:hidden block  flex flex-col bottom-0" >
          <lord-icon
              src="https://cdn.lordicon.com/phtfmmnb.json"
              trigger="morph"
              colors="primary:#ed1c24,secondary:#ed1c24"
              style="width:50px;height:50px">
          </lord-icon>
        </div>
    </div>
  </body>

  <script>
    tailwind.config = {
      theme: {
        extend: {
            spacing: {
        '128': '32rem',
      }
        }
      }
    }
  </script>

</html>